In [ ]:
import pandas as pd

In [34]:
df = pd.read_excel('./Dataset/Raw/upi_dataset_2025-01.XLSX', header=None, skiprows=3)  # Skip title and header rows
# df = pd.read_csv('./Dataset/upi_dataset.csv', header=None, skiprows=3)  # Skip title and header rows

In [35]:
print(df.head())

    0    1                    2                  3                  4  \
0 NaN  NaN                  NaN  Volume\n(in Lakh)  Value\n(in Crore)
1 NaN  1.0             Yes Bank         1419.08923       23323.009131
2 NaN  2.0  State Bank of India        42550.02386      616384.749154
3 NaN  3.0            Axis Bank         7854.16442      127816.823895
4 NaN  4.0            HDFC Bank        13764.25952      258189.863808

                   5                  6
0  Volume\n(in Lakh)  Value\n(in Crore)
1        67390.86203      223325.930295
2         17170.5503      447022.566577
3        17284.46863      215424.618604
4         8015.67954      251080.476562

In [36]:
df=df.drop(columns=[0])

In [37]:
print(df.head())

     1                    2                  3                  4  \
0  NaN                  NaN  Volume\n(in Lakh)  Value\n(in Crore)
1  1.0             Yes Bank         1419.08923       23323.009131
2  2.0  State Bank of India        42550.02386      616384.749154
3  3.0            Axis Bank         7854.16442      127816.823895
4  4.0            HDFC Bank        13764.25952      258189.863808

                   5                  6
0  Volume\n(in Lakh)  Value\n(in Crore)
1        67390.86203      223325.930295
2         17170.5503      447022.566577
3        17284.46863      215424.618604
4         8015.67954      251080.476562

In [38]:

# Manual column naming 
df.columns = [
    'sr_no',
    'entity_name',
    'remitter_volume_lakh',
    'remitter_value_cr',
    'beneficiary_volume_lakh',
    'beneficiary_value_cr'
]

# Remove rows with NULL entity names
df = df[df['entity_name'].notna()]

In [39]:
print(df.head())

   sr_no          entity_name remitter_volume_lakh remitter_value_cr  \
1    1.0             Yes Bank           1419.08923      23323.009131
2    2.0  State Bank of India          42550.02386     616384.749154
3    3.0            Axis Bank           7854.16442     127816.823895
4    4.0            HDFC Bank          13764.25952     258189.863808
5    5.0       Bank of Baroda          10631.56968     141845.123149

  beneficiary_volume_lakh beneficiary_value_cr
1             67390.86203        223325.930295
2              17170.5503        447022.566577
3             17284.46863        215424.618604
4              8015.67954        251080.476562
5              4630.72149        110818.875731

In [44]:
print('upi_dataset_2025-01'[-7:])

2025-01

In [ ]:
monthyear='upi_dataset_2025-01'[-7:]  # Extracting the month-year from the filename

# Convert the month-year string to a datetime object
month = datetime.strptime(monthyear, '%Y-%m').strftime('%Y-%m')
# Add a new column with the month-year
df['month'] = month

# Convert the 'sr_no' column to numeric, forcing errors to NaN
df['sr_no'] = pd.to_numeric(df['sr_no'], errors='coerce')
# Drop rows where 'sr_no' is NaN
df = df.dropna(subset=['sr_no'])
# Convert 'sr_no' back to integer
df['sr_no'] = df['sr_no'].astype(int)
print(df.head())

   sr_no          entity_name remitter_volume_lakh remitter_value_cr  \
1    1.0             Yes Bank           1419.08923      23323.009131
2    2.0  State Bank of India          42550.02386     616384.749154
3    3.0            Axis Bank           7854.16442     127816.823895
4    4.0            HDFC Bank          13764.25952     258189.863808
5    5.0       Bank of Baroda          10631.56968     141845.123149

  beneficiary_volume_lakh beneficiary_value_cr    month
1             67390.86203        223325.930295  2025-01
2              17170.5503        447022.566577  2025-01
3             17284.46863        215424.618604  2025-01
4              8015.67954        251080.476562  2025-01
5              4630.72149        110818.875731  2025-01
   sr_no          entity_name remitter_volume_lakh remitter_value_cr  \
1      1             Yes Bank           1419.08923      23323.009131
2      2  State Bank of India          42550.02386     616384.749154
3      3            Axis Bank           7854.16442     127816.823895
4      4            HDFC Bank          13764.25952     258189.863808
5      5       Bank of Baroda          10631.56968     141845.123149

  beneficiary_volume_lakh beneficiary_value_cr    month
1             67390.86203        223325.930295  2025-01
2              17170.5503        447022.566577  2025-01
3             17284.46863        215424.618604  2025-01
4              8015.67954        251080.476562  2025-01
5              4630.72149        110818.875731  2025-01

In [47]:
df = df[df['entity_name'] != 'Total']

In [50]:

# Save cleaned CSV
df.to_csv(f'./Dataset/Cleaned/cleaned_upi_dataset_{monthyear}.csv', index=False)